net A[0]		loc = "p191";
net A[1]		loc = "p190";
net A[2]		loc = "p196";
net A[3]		loc = "p194";
net A[4]		loc = "p198";
net A[5]		loc = "p197";
net A[6]		loc = "p200";
net A[7]		loc = "p199";
net A[8]		loc = "p5";
net A[9]		loc = "p7";
net A[10]	loc = "p3";
net A[11]	loc = "p4";
net A[12]	loc = "p205";
net A[13]	loc = "p2";
net A[14]	loc = "p203";
net A[15]	loc = "p204";

net B[0]		loc = "p27";
net B[1]		loc = "p28";
net B[2]		loc = "p24";
net B[3]		loc = "p26";
net B[4]		loc = "p21";
net B[5]		loc = "p22";
net B[6]		loc = "p19";
net B[7]		loc = "p20";
net B[8]		loc = "p10";
net B[9]		loc = "p9";
net B[10]	loc = "p12";
net B[11]	loc = "p11";
net B[12]	loc = "p15";
net B[13]	loc = "p13";
net B[14]	loc = "p18";
net B[15]	loc = "p16";

net S[0]	loc = "p139";
net S[1]	loc = "p140";
net S[2]	loc = "p137";
net S[3]	loc = "p138";
net S[4]	loc = "p133";
net S[5]	loc = "p135";
net S[6]	loc = "p131";
net S[7]	loc = "p132";
net S[8]	loc = "p149";
net S[9]	loc = "p150";
net S[10]	loc = "p147";
net S[11]	loc = "p148";
net S[12]	loc = "p144";
net S[13]	loc = "p146";
net S[14]	loc = "p141";
net S[15]	loc = "p143";

net cout	loc = "p181";

net cin	loc = "p189";